<template>
  <div class="container1">
    <h2 class="head">Categories Of Task</h2>

    <ul v-for="task in categ" :key="task">
      <li v-on:click="onClickButton(task.category)">
        {{ task.category }}
        <span class="num"
          ><img
            src="../assets/basket.png"
            class="image"
            v-on:click="onDelete(task.category)"
          />{{ task.task.length }}
        </span>
      </li>
    </ul>
    <ul>
      <li class="add" v-on:click="Edit()">
        <img src="../assets/add.png" class="addimage" /> Add Category
      </li>
    </ul>
    <div>
      <input
        type="text"
        class="input"
        name="addcateg"
        v-on:keyup.enter="submit"
        v-model="value"
        placeholder="Add new category"
        v-if="add"
      />
    </div>
  </div>
</template>
<script>
export default {
  name: "Left",
  props: {
    categ: Array,
  },
  data() {
    return {
      add: false,

      value: "",
      selected: "Study",
    };
  },
  methods: {
    onClickButton(event) {
      this.add = false;
      this.selected = event;
      this.$emit("value", event);
    },
    onDelete(del) {
      this.$emit("del", del);
    },

    Edit() {
      this.add = true;
    },
    submit() {
      let val = this.value;
      this.add = false;
      let js = { category: val, task: [] };
      this.value = "";
      this.$emit("add", js);
    },
  },
};
</script>

<style scoped>
.container1 {
  background: lightgray;
  color: black;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.head {
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  margin-top: 0px;
  padding: 32px;
}
.add {
  cursor: pointer;
}
.addimage {
  margin-top: 20px;
  cursor: pointer;
  height: 22px;
}
.input {
  width: 100%;
  border-radius: 100px;
  text-align: left;
  outline: none;
  margin-left: 30px;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
}
.selected {
  background: blue;
  color: white;
}
.num {
  float: right;
  display: block;
}
.image {
  height: 22px;
  margin-right: 10px;
}
ul {
  align-items: left;
  width: 80%;
  margin-left: 0px;
}
li {
  list-style-type: none;
  padding: 10px 0 10px 5px;
  display: block;
}

@media (max-width: 750px) {
  .container1 {
    width: 100%;
  }
  .input {
    padding: 20px;
  }
}
</style>
