<template>
  <div class="container">
    <div class="description" :class="showleft ? 'leftcomp' : 'hidecomp'">
      <left
        v-bind:categ="Task"
        @value="onClickChild"
        @del="del"
        @add="addcatg"
        v-if="showleft"
      />
    </div>
    <div class="rightcomp">
      <img src="../assets/bars.jpg" class="icon" v-on:click="ontogg()" />
      <right-comp v-bind:data="taskdata" @edit="edit" />
    </div>
  </div>
</template>
<script>
import Left from "./Left.vue";
import RightComp from "./RightComp.vue";
export default {
  components: { Left, RightComp },
  name: "Main",
  data() {
    return {
      category: ["Study", "Gym", "Games"],
      Task: [
        {
          category: "Study",
          task: ["Creating project", "English Work to be done at 1 am"],
        },
        { category: "Gym", task: ["Go to gym at 6pm"] },
        { category: "Games", task: ["Playing football at 8AM"] },
      ],
      taskdata: [
        {
          category: "Study",
          task: ["Creating project", "English Work to be done at 1 am"],
        },
      ],

      showleft: true,
    };
  },
  methods: {
    onClickChild(value) {
      console.log(value); // someValue
      value = value ? value : "Study";
      this.taskdata = this.Task.filter((vl) => vl.category === value);
      console.log(this.taskdata[0]);
      // return this.taskdata;
    },
    del(del) {
      this.taskdata = this.Task.filter((vl) => vl.category === "Study");
      let ind = this.Task.findIndex((vl) => vl.category === del);
      this.Task.splice(ind, 1);
    },
    addcatg(add) {
      console.log(add);
      this.Task.push(add);
    },
    ontogg() {
      this.showleft = !this.showleft;
    },
    edit(edit) {
      console.log("edit", edit);
      let ind = this.Task.findIndex((vl) => vl.category === edit.category);
      this.Task[ind].task = edit.task;
    },
  },
};
</script>

<style scoped>
.container {
  display: flex;
  margin: "40px";
  width: 100%;
  height: 100vh;
}
.icon {
  height: 30px;
  float: left;
  background: lightgray;
  cursor: pointer;
  margin-top: 5px;
}
.leftcomp {
  min-width: 22%;
  margin: 0px;
  text-align: left;
}
.hidecomp {
  width: 0px;
}
.rightcomp {
  flex-basis: 100%;
}
#head {
  font-size: 35px;
  font-weight: 600;
}
@media (max-width: 750px) {
  .container {
    flex-direction: column;
  }
}
</style>
