<template>
  <div class="container2">
    <h2>Daily Todo Lists</h2>
    <div class="categ">Category:{{ data[0].category }}</div>
    <input
      type="text"
      class="search"
      placeholder="Add Task to the Category"
      v-model="selected"
      v-on:keyup.enter="submit('submit')"
    />

    <h4>Task By Selected Category</h4>

    <ul v-for="val in data" :key="val.category">
      <div v-for="(vs, index) in val.task" :key="vs" class="input">
        <li>
          {{ vs }}
          <img
            src="../assets/edit.png"
            class="image"
            v-on:click="onEdit(index, val.category)"
          /><img
            src="../assets/basket.png"
            v-on:click="onDelete(index)"
            class="image"
          /><br />
        </li>

        <input
          type="text"
          class="search"
          v-if="editind === index && currcat === val.category"
          v-model="edittext"
          v-on:keyup.enter="submit('edit', index)"
        />
      </div>
    </ul>
  </div>
</template>
<script>
export default {
  name: "Right",
  props: {
    data: Array,
  },

  data() {
    return {
      selected: "",
      edittext: "",
      currcat: "",
      editind: this.edits,
    };
  },

  methods: {
    submit(val, ind) {
      if (val == "submit") {
        this.data[0].task.push(this.selected);
        this.selected = "";
        this.edittext = "";
        this.editind = "";
      } else {
        console.log("edit ind", this.edittext);
        this.data[0].task[ind] = this.edittext;
        this.edittext = "";
        this.editind = "";
        this.$emit("edit", this.data[0]);
      }
    },
    onDelete(index) {
      this.data[0].task.splice(index, 1);
      console.log(index);
    },
    onEdit(ind, categ) {
      console.log(categ);
      this.edittext = this.data[0].task[ind];
      this.editind = ind;
      this.currcat = categ;
    },
  },
};
</script>

<style scoped>
.container2 {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
h2 {
  margin-top: 10px;
  width: 100%;
  color: black;
  padding: 20px;
}
.categ {
  text-align: left;
  margin: 50px;
  color: green;
  font-size: 20px;
}
.search {
  width: 80%;
  outline: none;
  border-radius: 80px;
  font-size: 16px;
  border: solid lightblue;
  text-align: left;
  padding: 10px 20px 20px 20px;
  margin-left: 50px;
}
.input {
  width: 85%;
  border-radius: 10px;
  text-align: left;
  font-size: 20px;
  margin: 10px;
  padding: 10px 0px 10px 10px;
  font-weight: 600;
  cursor: pointer;
  background: lightblue;
  color: black;
}
.image {
  float: right;
  margin-left: 7px;
  font-size: 13px;
  height: 22px;
}
li {
  list-style-type: none;
  text-align: left;

  margin: 20px;
}
@media (max-width: 750px) {
  .container2 {
    width: 100%;
    margin-left: 0px;
  }
  .search {
    margin-left: 20px;
  }

  ul,
  div {
    margin-right: 20px;
    padding: 0;
    width: 110%;
  }
  li {
    margin-right: 20px;
    padding: 5px;
  }
}
</style>
